block content
    h1 Extreme Precipitation
    ul
        for order in data
            li
                div 
                    b Date of Event: 
                    =order.date
                    div
                        b Amountfdsfdsfdsf: 
                        =order.precip + " mm"
                    div
                        b Latitude:  + "  "
                        =order.latitude
                    div     
                        b Longitude: + "  "
                        =order.longitude
        else
            li No orders currently.
