block content
    h1 Data Added! See it 
      a(href='http://localhost:3000/list') here 
    
     h2 Powered by 
      a(href='https://astra.datastax.com') DataStax Astra
      | !
    h2 Return to 
        a(href='http://localhost:3000') Homepage