doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1= title

    main
      p
        | Welcome to the #{title} site where you can identify dates that had rainfall of 100mm or more. Go 
        a(href='http://localhost:3000/list') here 
        | to see them.

    footer
      | Powered by 
      a(href='https://astra.datastax.com') DataStax Astra
      | !

