block content
    h1 Extreme Precipitation
    ul
        for order in data
            li
                div 
                    b Date of Event:  
                    =order.date
                    div
                        b Amount:  
                        =order.precip + " mm"
                    div
                        b Latitude:  
                        =order.latitude
                    div     
                        b Longitude:  
                        =order.longitude
                    div
                        b ----------
        else
            li No orders currently.
     h2 Powered by 
      a(href='https://astra.datastax.com') DataStax Astra
      | !
    h2 Return to 
        a(href='http://localhost:3000') Homepage
        
    
